    .triangle {
    -webkit-clip-path: url(#cp);
    clip-path: url(#cp);
    width: 40vmin;
    height: 30vmin;
    max-height: 60vmin;
    max-width: 60vmin;
    background-size: cover;
    background-blend-mode: screen;
    position: absolute;
    top: 30vmin;
    left: 50%;
  }
  
  .first {
    background-color: rgba(150, 9, 179, 0.968);
    background-image: url("https://media.giphy.com/media/oX7VUex1IZkGHoPW8e/giphy.gif");
    -webkit-transform: translateX(-65%) translateY(-50%);
            transform: translateX(-65%) translateY(-50%);
  }
  
  .second {
    background-color: rgb(3, 222, 247);
    background-image: url("https://media.giphy.com/media/3o72F7ryUWTBwljkWI/giphy.gif");
    -webkit-transform: translateX(-35%) translateY(-50%);
            transform: translateX(-35%) translateY(-50%);
    opacity: 0.8;
  }